<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BugSpray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{178,186}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1470,1085},{178,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fertilize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{162,164}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1824,1167},{162,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Irrigate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{202,194}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1266,883},{202,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaiseSeedlings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,200}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1470,883},{162,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tilling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1563,633},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Weeding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,178}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{1266,1079},{202,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{301,1449},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>additionbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,80}</string>
                <key>spriteSourceSize</key>
                <string>{288,80}</string>
                <key>textureRect</key>
                <string>{{945,883},{288,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>admin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1763,1345},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,111}</string>
                <key>spriteSourceSize</key>
                <string>{124,111}</string>
                <key>textureRect</key>
                <string>{{1021,1409},{124,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1747,633},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{1495,752},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awaitingSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,132}</string>
                <key>spriteSourceSize</key>
                <string>{111,132}</string>
                <key>textureRect</key>
                <string>{{887,1409},{111,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{667,1159},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backhome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1675,1345},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1650,1173},{170,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulletin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1961,395},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyProps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{1,915},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,70}</string>
                <key>spriteSourceSize</key>
                <string>{65,70}</string>
                <key>textureRect</key>
                <string>{{527,1449},{65,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1796,815},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlefooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1550,310}</string>
                <key>spriteSourceSize</key>
                <string>{1550,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{1550,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1259,1404},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1675,1433},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{453,1449},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>completed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{453,1449},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,58}</string>
                <key>textureRect</key>
                <string>{{805,1456},{80,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,104}</string>
                <key>spriteSourceSize</key>
                <string>{616,104}</string>
                <key>textureRect</key>
                <string>{{945,777},{616,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downExpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1970,813},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drawerclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{1495,599},{48,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drawerexpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{1965,1},{48,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1111,1310},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{594,1449},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{225,242}</string>
                <key>spriteSourceSize</key>
                <string>{309,242}</string>
                <key>textureRect</key>
                <string>{{667,915},{225,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>error.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1961,562},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{1961,319},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{377,1449},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>harvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{667,1381},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harvestfooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1550,284}</string>
                <key>spriteSourceSize</key>
                <string>{1550,286}</string>
                <key>textureRect</key>
                <string>{{1,313},{1550,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{1147,1404},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{894,965},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>increase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1116,1180},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{178,160}</string>
                <key>textureRect</key>
                <string>{{1634,817},{178,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>memberlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,52}</string>
                <key>spriteSourceSize</key>
                <string>{298,52}</string>
                <key>textureRect</key>
                <string>{{1,1449},{298,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1299,1259},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1541,1273},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1369,1391},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{1,1093},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneKeyHarvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1650,997},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>persons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{2000,205},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1961,461},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1205,1310},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rebatesSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1824,1333},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>receivehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{1929,633},{102,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{1235,883},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scarecrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,213}</string>
                <key>spriteSourceSize</key>
                <string>{148,213}</string>
                <key>textureRect</key>
                <string>{{1116,965},{148,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{1961,519},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1248,1259},{42,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seednumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{1970,847},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1471,1385},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingsTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{1,1271},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sfx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1573,1375},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{1965,205},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1824,991},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{410,316}</string>
                <key>spriteSourceSize</key>
                <string>{412,322}</string>
                <key>textureRect</key>
                <string>{{1553,1},{410,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soillocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{406,312}</string>
                <key>spriteSourceSize</key>
                <string>{412,320}</string>
                <key>textureRect</key>
                <string>{{1553,319},{406,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{309,74}</string>
                <key>textureRect</key>
                <string>{{1929,737},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{942,314}</string>
                <key>spriteSourceSize</key>
                <string>{954,326}</string>
                <key>textureRect</key>
                <string>{{1,599},{942,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1429,1273},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,176}</string>
                <key>spriteSourceSize</key>
                <string>{548,176}</string>
                <key>textureRect</key>
                <string>{{945,599},{548,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1965,154},{42,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{2000,232},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1763,1461},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1763,1403},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1563,817},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transparentSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{889,1187},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unhappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{805,1381},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{894,915},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconList.png</string>
            <key>size</key>
            <string>{2025,1522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60963fe0d3e16cd7e9dc6c47eaeed889:d2a4e83f5960e4b71a33463ec0e39c38:cb8594ec3dfdd81c062d6f4add46b183$</string>
            <key>textureFileName</key>
            <string>iconList.png</string>
        </dict>
    </dict>
</plist>
