<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{687,1921},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>additionbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,80}</string>
                <key>spriteSourceSize</key>
                <string>{288,80}</string>
                <key>textureRect</key>
                <string>{{777,467},{288,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>admin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{934,1891},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,111}</string>
                <key>spriteSourceSize</key>
                <string>{124,111}</string>
                <key>textureRect</key>
                <string>{{878,1459},{124,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{740,1435},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awaitingSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,132}</string>
                <key>spriteSourceSize</key>
                <string>{111,132}</string>
                <key>textureRect</key>
                <string>{{739,1703},{111,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1789},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backhome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{429,1877},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{777,1285},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{540,1965},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyProps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{599,1},{664,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,70}</string>
                <key>spriteSourceSize</key>
                <string>{65,70}</string>
                <key>textureRect</key>
                <string>{{333,1971},{65,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carrotLevel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,140}</string>
                <key>spriteSourceSize</key>
                <string>{309,140}</string>
                <key>textureRect</key>
                <string>{{859,613},{119,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{133,200}</string>
                <key>spriteSourceSize</key>
                <string>{309,200}</string>
                <key>textureRect</key>
                <string>{{604,1541},{133,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotMarkings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{777,1057},{50,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{831,757},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlefooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1550,310}</string>
                <key>spriteSourceSize</key>
                <string>{1550,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{1550,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>closeSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{223,1901},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{517,1877},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downExpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{740,1333},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drawerclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{949,1109},{48,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drawerexpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{949,1262},{48,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{840,1816},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{405,1971},{65,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eggplantLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{225,242}</string>
                <key>spriteSourceSize</key>
                <string>{309,242}</string>
                <key>textureRect</key>
                <string>{{777,1},{225,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{934,1815},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{761,1918},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{740,1459},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harvestfooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1550,284}</string>
                <key>spriteSourceSize</key>
                <string>{1550,286}</string>
                <key>textureRect</key>
                <string>{{313,1},{1550,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{873,1702},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{243,1553},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>increase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{739,1571},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memberlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,52}</string>
                <key>spriteSourceSize</key>
                <string>{298,52}</string>
                <key>textureRect</key>
                <string>{{777,757},{298,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{869,1572},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{335,1775},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{437,1775},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneKeyHarvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{831,933},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>persons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{1,2011},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{840,1910},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{335,1877},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rebatesSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{859,467},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>receivehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{539,1759},{102,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{720,1997},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{600,1996},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{949,1415},{42,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seednumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{740,1389},{44,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{636,1743},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingsTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{599,667},{664,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sfx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{738,1816},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{685,1997},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{777,1109},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,139}</string>
                <key>spriteSourceSize</key>
                <string>{206,141}</string>
                <key>textureRect</key>
                <string>{{599,1333},{206,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soillocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,137}</string>
                <key>spriteSourceSize</key>
                <string>{206,141}</string>
                <key>textureRect</key>
                <string>{{465,1553},{204,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{309,74}</string>
                <key>textureRect</key>
                <string>{{636,1845},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{223,1789},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{761,1994},{42,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{27,2011},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{643,1996},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{835,1968},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{474,1965},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomatoLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,234}</string>
                <key>spriteSourceSize</key>
                <string>{240,234}</string>
                <key>textureRect</key>
                <string>{{1,1553},{240,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomatoMarkings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{893,1968},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transparentSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{777,245},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unhappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{605,1921},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{947,1949},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconList.png</string>
            <key>size</key>
            <string>{1004,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a11ea5a790144d99535051ff08c8f8c7:77f6e1f185db281f61f0d9c9f116cbbe:cb8594ec3dfdd81c062d6f4add46b183$</string>
            <key>textureFileName</key>
            <string>iconList.png</string>
        </dict>
    </dict>
</plist>
