<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{1874,399},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>additionbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,80}</string>
                <key>spriteSourceSize</key>
                <string>{288,80}</string>
                <key>textureRect</key>
                <string>{{1,955},{288,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>admin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1950,430},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,111}</string>
                <key>spriteSourceSize</key>
                <string>{124,111}</string>
                <key>textureRect</key>
                <string>{{1713,622},{124,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1111,777},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{2008,430},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awaitingSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,132}</string>
                <key>spriteSourceSize</key>
                <string>{111,132}</string>
                <key>textureRect</key>
                <string>{{1483,951},{111,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1795,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backhome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1874,223},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1639,761},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1972,1009},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyProps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{1,599},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,70}</string>
                <key>spriteSourceSize</key>
                <string>{65,70}</string>
                <key>textureRect</key>
                <string>{{1962,223},{65,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotLevel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,140}</string>
                <key>spriteSourceSize</key>
                <string>{309,140}</string>
                <key>textureRect</key>
                <string>{{503,955},{119,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carrotLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{133,200}</string>
                <key>spriteSourceSize</key>
                <string>{309,200}</string>
                <key>textureRect</key>
                <string>{{301,955},{133,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carrotMarkings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{1936,651},{50,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1333,599},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlefooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1550,310}</string>
                <key>spriteSourceSize</key>
                <string>{1550,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{1550,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1826,593},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1874,311},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downExpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1780,425},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drawerclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{645,999},{48,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drawerexpand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,151}</string>
                <key>spriteSourceSize</key>
                <string>{48,151}</string>
                <key>textureRect</key>
                <string>{{798,999},{48,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>editCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1780,237},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{1962,295},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggplantLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{225,242}</string>
                <key>spriteSourceSize</key>
                <string>{309,242}</string>
                <key>textureRect</key>
                <string>{{1553,237},{225,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{1040,999},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{1873,473},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{1371,953},{136,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>harvestfooterbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1550,284}</string>
                <key>spriteSourceSize</key>
                <string>{1550,286}</string>
                <key>textureRect</key>
                <string>{{1,313},{1550,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{1785,935},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeStolen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{667,777},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>increase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1111,959},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memberlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,52}</string>
                <key>spriteSourceSize</key>
                <string>{298,52}</string>
                <key>textureRect</key>
                <string>{{1,1037},{298,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1241,959},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1930,703},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1811,800},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{1,777},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneKeyHarvest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1293,777},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>persons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{2005,488},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plusRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1947,488},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1780,331},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rebatesSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1639,935},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>receivehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{1826,703},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{1761,593},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{1596,951},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1873,549},{42,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seednumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{1596,993},{44,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1913,805},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingsTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,176}</string>
                <key>spriteSourceSize</key>
                <string>{664,176}</string>
                <key>textureRect</key>
                <string>{{667,599},{664,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sfx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1897,907},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{687,1049},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1467,775},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,139}</string>
                <key>spriteSourceSize</key>
                <string>{206,141}</string>
                <key>textureRect</key>
                <string>{{1553,481},{206,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soillocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,137}</string>
                <key>spriteSourceSize</key>
                <string>{206,141}</string>
                <key>textureRect</key>
                <string>{{1507,622},{204,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{309,74}</string>
                <key>textureRect</key>
                <string>{{951,999},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1761,481},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1924,549},{42,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{2005,514},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{645,1049},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1936,593},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1962,364},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomatoLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,234}</string>
                <key>spriteSourceSize</key>
                <string>{240,234}</string>
                <key>textureRect</key>
                <string>{{1553,1},{240,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tomatoMarkings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1814,425},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transparentSowing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{889,777},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unhappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{1897,1009},{80,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{1975,546},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconList.png</string>
            <key>size</key>
            <string>{2031,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7039447f2831a6dacbf81b6d23735786:720297d117cb15de771994c4bafd3bd7:cb8594ec3dfdd81c062d6f4add46b183$</string>
            <key>textureFileName</key>
            <string>iconList.png</string>
        </dict>
    </dict>
</plist>
