<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BSC1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,162}</string>
                <key>spriteSourceSize</key>
                <string>{412,162}</string>
                <key>textureRect</key>
                <string>{{1755,1017},{268,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BSC2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{302,212}</string>
                <key>spriteSourceSize</key>
                <string>{412,212}</string>
                <key>textureRect</key>
                <string>{{1361,583},{302,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BSC3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,258}</string>
                <key>spriteSourceSize</key>
                <string>{412,258}</string>
                <key>textureRect</key>
                <string>{{361,853},{334,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTC1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,266}</string>
                <key>spriteSourceSize</key>
                <string>{412,266}</string>
                <key>textureRect</key>
                <string>{{891,1393},{224,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTC2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,330}</string>
                <key>spriteSourceSize</key>
                <string>{412,330}</string>
                <key>textureRect</key>
                <string>{{697,865},{308,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTC3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{434,366}</string>
                <key>spriteSourceSize</key>
                <string>{448,366}</string>
                <key>textureRect</key>
                <string>{{1,1},{434,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,170}</string>
                <key>spriteSourceSize</key>
                <string>{412,170}</string>
                <key>textureRect</key>
                <string>{{1303,1195},{294,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,216}</string>
                <key>spriteSourceSize</key>
                <string>{412,216}</string>
                <key>textureRect</key>
                <string>{{683,1175},{312,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{358,258}</string>
                <key>spriteSourceSize</key>
                <string>{412,258}</string>
                <key>textureRect</key>
                <string>{{411,593},{358,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ETH1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{158,252}</string>
                <key>spriteSourceSize</key>
                <string>{412,252}</string>
                <key>textureRect</key>
                <string>{{1635,1299},{158,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ETH2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{286,306}</string>
                <key>spriteSourceSize</key>
                <string>{412,306}</string>
                <key>textureRect</key>
                <string>{{1311,887},{286,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ETH3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{344,336}</string>
                <key>spriteSourceSize</key>
                <string>{412,336}</string>
                <key>textureRect</key>
                <string>{{1,1001},{344,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Solona1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{258,234}</string>
                <key>spriteSourceSize</key>
                <string>{412,234}</string>
                <key>textureRect</key>
                <string>{{1125,605},{258,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Solona2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,266}</string>
                <key>spriteSourceSize</key>
                <string>{412,266}</string>
                <key>textureRect</key>
                <string>{{337,1393},{280,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Solona3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,290}</string>
                <key>spriteSourceSize</key>
                <string>{412,290}</string>
                <key>textureRect</key>
                <string>{{1575,527},{302,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TON1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{266,270}</string>
                <key>spriteSourceSize</key>
                <string>{412,270}</string>
                <key>textureRect</key>
                <string>{{619,1393},{266,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TON2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,282}</string>
                <key>spriteSourceSize</key>
                <string>{412,282}</string>
                <key>textureRect</key>
                <string>{{1117,1375},{306,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TON3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,310}</string>
                <key>spriteSourceSize</key>
                <string>{412,310}</string>
                <key>textureRect</key>
                <string>{{1,1339},{334,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>向日葵1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{280,154}</string>
                <key>spriteSourceSize</key>
                <string>{412,156}</string>
                <key>textureRect</key>
                <string>{{1599,1017},{280,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>向日葵2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,278}</string>
                <key>spriteSourceSize</key>
                <string>{412,278}</string>
                <key>textureRect</key>
                <string>{{347,1113},{334,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>向日葵3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,318}</string>
                <key>spriteSourceSize</key>
                <string>{412,318}</string>
                <key>textureRect</key>
                <string>{{1191,1},{358,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{304,184}</string>
                <key>spriteSourceSize</key>
                <string>{412,184}</string>
                <key>textureRect</key>
                <string>{{997,1189},{304,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{350,286}</string>
                <key>spriteSourceSize</key>
                <string>{412,286}</string>
                <key>textureRect</key>
                <string>{{803,317},{350,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{388,312}</string>
                <key>spriteSourceSize</key>
                <string>{412,312}</string>
                <key>textureRect</key>
                <string>{{437,1},{388,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>番茄1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{254,184}</string>
                <key>spriteSourceSize</key>
                <string>{412,184}</string>
                <key>textureRect</key>
                <string>{{1599,831},{254,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>番茄2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,280}</string>
                <key>spriteSourceSize</key>
                <string>{412,280}</string>
                <key>textureRect</key>
                <string>{{1029,865},{322,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>番茄3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{362,314}</string>
                <key>spriteSourceSize</key>
                <string>{412,314}</string>
                <key>textureRect</key>
                <string>{{827,1},{362,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>胡萝卜1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{292,208}</string>
                <key>spriteSourceSize</key>
                <string>{412,208}</string>
                <key>textureRect</key>
                <string>{{1425,1367},{292,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>胡萝卜2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{358,260}</string>
                <key>spriteSourceSize</key>
                <string>{412,260}</string>
                <key>textureRect</key>
                <string>{{1155,321},{358,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>胡萝卜3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{358,296}</string>
                <key>spriteSourceSize</key>
                <string>{412,296}</string>
                <key>textureRect</key>
                <string>{{1551,1},{358,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{238,180}</string>
                <key>spriteSourceSize</key>
                <string>{412,180}</string>
                <key>textureRect</key>
                <string>{{1795,1287},{238,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{352,258}</string>
                <key>spriteSourceSize</key>
                <string>{412,258}</string>
                <key>textureRect</key>
                <string>{{771,605},{352,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{358,332}</string>
                <key>spriteSourceSize</key>
                <string>{412,332}</string>
                <key>textureRect</key>
                <string>{{1,667},{358,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>韭菜1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{290,226}</string>
                <key>spriteSourceSize</key>
                <string>{412,226}</string>
                <key>textureRect</key>
                <string>{{1551,299},{290,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>韭菜2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,276}</string>
                <key>spriteSourceSize</key>
                <string>{412,276}</string>
                <key>textureRect</key>
                <string>{{437,315},{364,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>韭菜3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{408,296}</string>
                <key>spriteSourceSize</key>
                <string>{412,296}</string>
                <key>textureRect</key>
                <string>{{1,369},{408,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seedPlant.png</string>
            <key>size</key>
            <string>{1976,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ebcb62a33dcea486eadf96adf455382:f445a216d49d0c3224dd0aca1aeddfc9:33ace31cf3f96a78cf1c093fdf320874$</string>
            <key>textureFileName</key>
            <string>seedPlant.png</string>
        </dict>
    </dict>
</plist>
